* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: cursive;
}
body {
    background-color: rgb(46, 54, 112);
}
.main-container__heading {
    color: #fff;
}
:root {
    /* the colors were updated but not the names */
    --orange: #fff;
    --blue: gold;
    --green: green;
    --red: #9F1111;
    --yellow: #094F77;
    --lightblue: #094F77;
    --lightgreen: rgb(27, 110, 96);
    --lightcoral: rgb(177, 118, 119);
    
}
.yellow__color {
    background-color: var(--yellow);
    border-color: var(--orange);
}
.lightblue__color {
    background-color: var(--lightblue);
    border-color: var(--blue);
}
.lightgreen__color {
    background-color: var(--lightgreen);
}
.lightcoral__color {
    background-color: var(--lightcoral);
}
.main-container {
    text-align: center;
    margin: 0 auto;
    padding: 0 2em;
    &__heading {
        font-size: 3em;
        margin: 1em 0;
    }
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    &__findTask {
        text-align: left;
        margin-left: 1em;
        color: var(--blue);
        padding: 0 0.25em;
    }
    &__addTask {
        text-align: left;
        margin-left: 1em;
        color: var(--orange);
        padding: 0 0.25em;
    }
    &__fieldset {
        display: flex;
        flex-direction: column;
        gap: 0.25em;
        border-radius: 0.5em;
        padding: 1em;
    }
    &__input-btn {
        padding: 0.5em 0;
        cursor: pointer;
        background-color: transparent;
        border: none;
        background-color: rgb(91, 161, 174);
        color: #fff;
        transition-duration: 0.25s;
        &:hover {
            background-color: gold;
        }
    }
    &__input-txt {
        padding: 0.5em 0.5em;
        background-color: #000;
        border: none;
        outline: none;
        color: #fff;
    }
}
.to-do-list__container {
    border-radius: 0.5em;
    text-align: left;
    padding: 0.5em;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.to-do-list,
.done-list {
    height: 50vh;
    overflow: auto;
}
.to-do-list__container > h3,
.done-list__container > h3 {
    margin-bottom: 0.5em;
}

.done-list__container {
    border-radius: 0.5em;
    text-align: left;
    padding: 0.5em;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.align-list-items {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 2em;
    background-color: var(--red);
    padding: 1em;
    border-radius: 0.25em;
    margin-bottom: 0.25em;
}
